<section class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="widget wviolet">
          <div ht-widget-header title="{{vm.title}}"></div>
          <div class="seach" placeholder="Search">
            <input type='text' ng-model='search' />
          </div>
          <div class="widget-content">
            <span ng-click="vm.getElementValue(location)" class="label label-primary" ng-repeat="location in vm.locations">
              {{location}}
            </span>
            <span class="label label-danger" ng-click="vm.clearSelectedLocation()">Clear</span>
          </div>
          <div class="widget-content">
            <div class="user" ng-class="{ 'selected-class-name': $index == selectedIndex }" ng-repeat="user in vm.userList | filter:search | filter:vm.seletedLocation">
              <div>
                <span ng-hide="editFirstName">{{user.firstName}}</span>
                <input ng-show="editFirstName" value="{{user.firstName}}"/> 
                <button ng-click="editFirstName=true">Edit</button>
                <button>Save</button>
              </div>
              <div>              
                <span ng-hide="editLastName">{{user.lastName}}</span>
                <input ng-show="editLastName" value="{{user.lastName}}"/>
                <button ng-click="editLastName=true">Edit</button>
                <button>Save</button>
              </div>    
              <div>
                <span ng-hide="editAge">{{user.age}}</span>
                <input ng-show="editAge" value="{{user.age}}"/>
                <button ng-click="editAge=true">Edit</button>
                <button>Save</button>
              </div>
              <div>
                <span ng-hide="editUserLocation">{{user.location}}</span>
                <input ng-show="editUserLocation" value="{{user.location}}"/>
                <button ng-click="editUserLocation=true">Edit</button>
                <button>Save</button>
              </div>                        
            </div>
          </div>
          <div class="widget-foot">
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>